Repository aurelenc/Epi-MyTeams, pull requests merged in 2022-06, with the labels that each got.

#42 Feature/server save
  libs/database/tables/messages/database_messages_save.c
  libs/database/tables/messages/database_messages_save.h
  libs/database/tables/messages/message.c
  libs/database/tables/teams/database_teams_save.c
  libs/database/tables/threads/database_threads_save.c
  libs/database/tables/threads/database_threads_save.h
  libs/database/tables/users/database_users_save.c
  libs/database/tables/users/database_users_save.h
  libs/database/tables/users_x_teams/database_users_x_teams_save.c
  libs/database/tables/users_x_teams/database_users_x_teams_save.h
  server/Makefile
  tests/Makefile
  tests/database_save/tests_load_messages.c
  tests/database_save/tests_load_threads.c
  tests/database_save/tests_load_users.c
  tests/database_save/tests_load_users_x_teams.c
  tests/database_save/tests_save_messages.c
  tests/database_save/tests_save_threads.c
  tests/database_save/tests_save_users.c
  tests/database_save/tests_save_users_x_teams.c
  tests/test_files/messages.csv
  tests/test_files/messages_load.csv
  tests/test_files/threads.csv
  tests/test_files/threads_load.csv
  tests/test_files/users.csv
  tests/test_files/users_load.csv
  tests/test_files/users_x_teams.csv
  tests/test_files/users_x_teams_load.csv
Labels: server, libs

#46 Feature/server save
  libs/database/database_management.c
  libs/database/database_management.h
  libs/database/tables/channels/database_channels_save.c
  libs/database/tables/discussions/database_discussions_save.c
  libs/database/tables/messages/database_messages_save.c
  libs/database/tables/teams/database_teams_save.c
  libs/database/tables/threads/database_threads_save.c
  libs/database/tables/users/database_users_save.c
  libs/database/tables/users_x_teams/database_users_x_teams_save.c
Labels: server, libs

#50 Refactoring/database/database adds
  libs/database/tables/channels/channel.c
  libs/database/tables/channels/channel.h
  libs/database/tables/channels/database_channels_add.h
  libs/database/tables/channels/database_channels_save.c
  libs/database/tables/discussions/database_discussions_add.h
  libs/database/tables/discussions/database_discussions_save.c
  libs/database/tables/discussions/discussion.c
  libs/database/tables/discussions/discussion.h
  libs/database/tables/messages/database_messages_add.h
  libs/database/tables/messages/database_messages_save.c
  libs/database/tables/messages/message.c
  libs/database/tables/messages/message.h
  libs/database/tables/teams/database_teams_add.h
  libs/database/tables/teams/database_teams_save.c
  libs/database/tables/teams/team.c
  libs/database/tables/teams/team.h
  libs/database/tables/threads/database_threads_add.h
  libs/database/tables/threads/database_threads_save.c
  libs/database/tables/threads/thread.c
  libs/database/tables/threads/thread.h
  libs/database/tables/users/database_users_add.h
  libs/database/tables/users/database_users_save.c
  libs/database/tables/users/user.c
  libs/database/tables/users/user.h
  server/src/commands/login.c
  server/src/commands/send.c
  tests/database_save/tests_save_channels.c
  tests/database_save/tests_save_discussions.c
  tests/database_save/tests_save_messages.c
  tests/database_save/tests_save_teams.c
  tests/database_save/tests_save_threads.c
  tests/database_save/tests_save_users.c
Labels: server, libs

#52 The structure of the client refers to entities it uses and not their ids
  server/include/server.h
  server/src/commands/login.c
  server/src/commands/logout.c
  server/src/commands/messages.c
  server/src/commands/send.c
  server/src/commands/subscribe.c
  server/src/commands/unsubscribe.c
  server/src/commands/use_channel.c
  server/src/commands/use_team.c
  server/src/commands/use_thread.c
  server/src/commands/user.c
  server/src/commands/users.c
  server/src/server.c
Labels: server

#55 Feature/client/commands improvements
  client/include/reply_codes.h
  client/src/client.c
  client/src/get_commands/get_cmd_create.c
  client/src/manage_commands/make_command_rfc_compatible.c
  client/src/manage_commands/manage_command.c
  client/src/manage_commands/parse_server_response.c
  client/src/manage_commands/reply_codes.c
  client/src/manage_commands/send_command.c
  libs/circularbuffer/circular_buffer.h
  libs/database/tables/channels/database_channels_multiple_search.c
  libs/database/tables/channels/database_channels_multiple_search.h
  libs/database/tables/channels/database_channels_save.h
  libs/database/tables/channels/database_channels_search.h
  libs/database/tables/discussions/database_discussions_deletion.h
  libs/database/tables/discussions/database_discussions_save.h
  libs/database/tables/messages/database_messages_multiple_search_relation.c
  libs/database/tables/messages/database_messages_multiple_search_relation.h
  libs/database/tables/messages/database_messages_save.h
  libs/database/tables/threads/database_threads_multiple_search.c
  libs/database/tables/threads/database_threads_search.h
  libs/database/tables/threads/thread_search.h
  libs/database/tables/users_x_teams/database_users_x_teams_deletion.h
  libs/database/tables/users_x_teams/database_users_x_teams_save.h
  libs/database/tables/users_x_teams/users_x_teams.h
  libs/linked_list/llist.h
  libs/linked_list/llist_tools.h
  libs/myteams/logging_client.h
  rfc11720
  server/include/commands.h
  server/include/reply_codes.h
  server/src/commands/send.c
  server/src/reply_codes.c
Labels: bug, documentation, client, CLI, Commands

#58 Feature/server/command/create
  server/Makefile
  server/include/commands.h
  server/src/commands/create.c
  server/src/commands/create_channel.c
  server/src/commands/create_reply.c
  server/src/commands/create_team.c
  server/src/commands/create_thread.c
  server/src/commands/messages.c
  server/src/commands/use_team.c
Labels: server

#62 Add use command handling
  server/Makefile
  server/include/commands.h
  server/include/server.h
  server/src/commands.c
  server/src/commands/messages.c
  server/src/commands/subscribe.c
  server/src/commands/unsubscribe.c
  server/src/commands/use.c
  server/src/commands/use_channel.c
  server/src/commands/use_nothing.c
  server/src/commands/use_one_arg.c
  server/src/commands/use_team.c
  server/src/commands/use_thread.c
  server/src/commands/use_three_arg.c
  server/src/commands/use_two_arg.c
  server/src/reply_codes.c
Labels: server

#66 Feature/client/commands improvements
  client/Makefile
  client/include/client.h
  client/src/client.c
  client/src/create_client.c
  client/src/get_commands/get_cmd_create.c
  client/src/get_commands/get_cmd_info.c
  client/src/get_commands/get_cmd_list.c
  client/src/get_commands/get_cmd_login.c
  client/src/get_commands/get_cmd_logout.c
  client/src/get_commands/get_cmd_messages.c
  client/src/get_commands/get_cmd_send_message.c
  client/src/get_commands/get_cmd_subscribe_teams.c
  client/src/get_commands/get_cmd_subscribed.c
  client/src/get_commands/get_cmd_unsubscribe_teams.c
  client/src/get_commands/get_cmd_use.c
  client/src/get_commands/get_cmd_user.c
  client/src/get_commands/get_cmd_users.c
  client/src/get_commands/manage_params.c
  client/src/get_commands/print_message.c
  server/src/client_input.c
  server/src/commands.c
  server/src/commands/send.c
Labels: bug, documentation, server, client, libs, CLI, Commands

#64 [ADD] the server can save and load its database
  server/Makefile
  server/include/server.h
  server/src/clients.c
  server/src/server.c
  server/src/server_db_loading.c
Labels: server

#63 [IMP] check if teams, channel or thread already exists before create it
  libs/database/tables/channels/channel_search.c
  libs/database/tables/channels/channel_search.h
  libs/database/tables/channels/database_channels_multiple_search.c
  libs/database/tables/channels/database_channels_multiple_search.h
  libs/database/tables/teams/database_teams_search.h
  libs/database/tables/teams/team_search.c
  libs/database/tables/teams/team_search.h
  libs/database/tables/threads/database_threads_multiple_search.c
  libs/database/tables/threads/database_threads_multiple_search.h
  libs/database/tables/threads/thread_search.c
  libs/database/tables/threads/thread_search.h
  server/src/commands/create_channel.c
  server/src/commands/create_team.c
  server/src/commands/create_thread.c
Labels: server

#68 Fix/server/commands
  .gitignore
  client/src/get_commands/get_cmd_create.c
  libs/database/database_management.c
  libs/database/tables/channels/database_channels_save.c
  libs/database/tables/discussions/database_discussions_save.c
  libs/database/tables/messages/database_messages_save.c
  libs/database/tables/messages/message_search.c
  libs/database/tables/teams/database_teams_save.c
  libs/database/tables/threads/database_threads_save.c
  libs/database/tables/threads/thread.c
  libs/database/tables/threads/thread.h
  libs/database/tables/users/database_users_save.c
  libs/database/tables/users_x_teams/database_users_x_teams_save.c
  server/Makefile
  server/database_save/channels.csv
  server/database_save/discussions.csv
  server/database_save/messages.csv
  server/database_save/teams.csv
  server/database_save/threads.csv
  server/database_save/users.csv
  server/database_save/users_x_teams.csv
  server/src/commands/create_channel.c
  server/src/commands/create_reply.c
  server/src/commands/create_team.c
  server/src/commands/create_thread.c
  server/src/commands/subscribe.c
  server/src/commands/use_one_arg.c
  tests/database_save/tests_save_threads.c
  tests/test_files/threads.csv
  tests/test_files/threads_load.csv
Labels: server

#72 Imp log in and log out events
  client/include/reply_codes.h
  client/src/manage_commands/reply_codes.c
  rfc11720
  server/include/reply_codes.h
  server/src/commands/create_team.c
  server/src/commands/login.c
  server/src/commands/logout.c
Labels: server, client

#77 Feature/client/commands improvements
  client/src/client.c
  client/src/create_client.c
  client/src/get_commands/get_cmd_subscribed.c
  server/src/client_input.c
Labels: bug, documentation, client, CLI, Commands

#81 Feature/client/commands improvements
  client/src/get_commands/get_cmd_create.c
  client/src/get_commands/print_message.c
Labels: bug, client, CLI, Commands
